@using MakiseSharpServer.Identity.Models
@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="loggedout-page h-100">
    <div class="h-100 d-flex flex-row justify-content-center align-items-center">
        <div class="jumbotron bg-white pt-5 pb-3 px-5 mb-0">
            <img src="~/logout.png" alt="logout img" class="ml-1 ml-md-5 pl-md-3"/>
            <p class="mt-4 py-1 px-2 px-md-0 mb-1 text-center text-uppercase">You are now logged out</p>
            @if (Model.PostLogoutRedirectUri != null)
            {
                <p class="text-center message">
                    Click <a class="PostLogoutRedirectUri link text-decoration-none" href="jakishref@Model.PostLogoutRedirectUri">here</a> to return to the
                    <span>@Model.ClientName</span> application.
                </p>
            }

            @if (Model.SignOutIframeUrl != null)
            {
                <iframe width="0" height="0" class="signout d-block border-0" src="@Model.SignOutIframeUrl"></iframe>
            }
        </div>
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
