@using MakiseSharpServer.Identity.Models
@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page h-100 d-flex flex-row justify-content-center align-items-center">
    <div class="jumbotron bg-white pt-5 pb-4 mb-0">
        <img class="ml-3" src="~/error.png" alt="error img"/>
        <p class="mt-3 py-0 text-center text-uppercase">Sorry, there was an error</p>

        @if (error != null)
        {
            <p class="text-center message mb-0">
                <strong class="text-uppercase">@error </strong>
                @if (errorDescription != null)
                {
                    <span>(@errorDescription)</span>
                }
            </p>
        }

        @if (request_id != null)
        {
            <p class="text-center message">Request Id: @request_id</p>
        }

    </div>
</div>
